<h1>Pagina de inicio </h1>

<img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png">


<p>Find me in app/views/home/index.html.erb</p>